// For the FicheLogIndex page
.fiche-log-index {
    display: flex;
    border: 1px solid violet;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2.25rem;
    margin: 1rem 0 2.25rem 0;
  }
  // For the FicheLogCarrousel function
  .fiche-log-carrousel, .fiche-log-carrousel img {
    // background-color: var(--grey);
    aspect-ratio: 5 / 2;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
  }
  @media screen and (max-width: 500px) {
    .fiche-log-carrousel {
      aspect-ratio: 5 / 4;
    }
  }
  .fiche-log-description {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid pink;
    gap: 1rem;
  }
  @media screen and (max-width: 500px) {
    .fiche-log-description {
      flex-direction: column;
    }
  }
  //For the FicheLogTitre + FicheLogTag Div fucnction
  .fiche-log__titre-tag {
    flex: 6;
  }
  
  // For the FicheLogTitre function
  .fiche-log-titre {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
    border: 1px solid yellow;
  }
  .fiche-log-titre h2 {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 500;
    color: var(--primary);
    padding: 0;
    margin-bottom: 0;
  }
  .fiche-log-titre h3 {
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 0.3rem;
    margin-top: 0;
  }
  //className for the FicheLogHost & the FicheLogRate function
  .fiche-log__host-rate {
    border: 1px solid cyan;
    flex-wrap: nowrap;
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    margin-top: 1.4rem;
  }
  // Fiche for the FicheLogHost function
  .fiche-log-host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    border: 1px solid orange;
    gap: 1.25rem;
  }
  .fiche-log-host__avatar img {
    width: 3em;
    height: 3em;
    border-radius: 100px;
    background-color: var(--grey);
    object-fit: cover;
  }
  .fiche-log-host__name {
    text-align: right;
    color: var(--primary);
  }
  //For the FicheLogRate function
  .fiche-log-rate {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 10rem;
    height: 2rem;
    border: 1px solid green;
  }
  .fiche-log-rate img {
    width: 1.5rem;
    margin-left: 0.5rem;
    border: 1px solid cyan;
  }
  //For the FicheLogTag function
  .fiche-log-tag {
    border: 1px solid violet;
    display: flex;
    width: 23rem;
    justify-content: space-between;
  }
  .fiche-log-tag > button {
    background-color: var(--primary);
    border: none;
    color: white;
    // width: 7rem;
    height: 1.5rem;
    border-radius: 15px;
  }
  //For the FicheLogDetails function
  .fiche-log-details {
    border: 1px solid sienna;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.25rem;
  }
  
  .fiche-log-details__collapsible {
    // background-color: var(--primary);
    // color: white;
    // height: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    // width: 44%;
    // border-radius: 5px;
    // padding: 0 0.4rem;
    background-color: var(--primary);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 44%;
    border-radius: 5px;
    padding: 0 0.4rem;
  }
  .fiche-log-details__collapsible img {
    height: 0.8rem;
  }
  .fiche-log-details__elements {
    background-color: var(--bg-color);
    width:99%;
    padding: 0.5rem;
    line-height: 1.4;
    text-align: left;
    margin:0;
  }

