.kasa-footer {
    background-color: black;
    color: white;
    height: 13rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kasa-footer> img {
    height: 2.5rem; 
    object-fit: cover;
}