.kasa-thumb, .kasa-logements-list {
    display: flex; 
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.kasa-thumb {
    background-color: #f6f6f6;
    border-radius: 25px;
    margin: 2rem;
    padding: 2rem;     
}
.kasa-thumb> ul, li {
  list-style: none;
 list-style-type: none;
}
.kasa-logements-list {
    gap: 1.5rem;
} 
.kasa-thumb-article {
   border: 1px solid green; 
   display: flex;
   flex-direction: column;  
   height: 21.25rem; 
   width: 21.25rem;
}
.kasa-thumb-article__title {
    position: relative;
    top: 18rem;
    left: 2rem;
    color: white; 
    font-weight: 600;
}