@import "../../Styles.scss";

$desktop-size : 21.25rem;
$tablet-size : 40vw;
$mobile-size : 90vw; 

@mixin cards-size {
    border-radius: $border-desktop;
    height: $desktop-size; 
    width: $desktop-size;

    @media screen and (max-width: 1250px) {
        width: $tablet-size; 
       }
   
     @media screen and (max-width: 767.98px) {
       border-radius: $border-mobile;
       width: $mobile-size;
     }
}

ul, li {
    justify-content: center;
    align-items: center;
}

.cards__container,
.cards__ul {
    margin-top: 2rem;
    border-radius: $border-desktop;
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-column-end: 3;
    grid-auto-rows: auto;
    background-color: $bg-color;

    @media screen and (max-width: 1250px) {
        grid-template-columns: auto auto;  
        grid-column-start: 1;
        justify-content: space-evenly;
    }

    @media screen and (max-width: 767.98px) {
        @include flex-column;
        padding: 0; 
        margin: 1rem 0;
        border-radius: $border-mobile;
        background-color: transparent;
    }
}
.cards__ul {
    gap: 3rem;
    width: 100%;
    margin-bottom: 1rem;

    @media screen and (max-width: 1250px) {
        column-gap: auto;
        margin: 1.5rem 0;
        width: 100%;
        gap: 1.5rem;
    }
}

article {
    @media screen and (max-width: 767.98px) {
        width: 100%;
    }
}

.cards {
    @include flex-column;
    transition: transform 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
    @include cards-size;

    @media screen and (max-width: 1250px) {
        margin-bottom: 0;
        @include cards-size;
    }

    @media screen and (max-width: 767.98px) {
        margin-bottom: 1rem;
        @include cards-size;
    }

    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    }

    &__overlay {
        width: 100%; 
        z-index: 3;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0.5));
        position: absolute;
        @include cards-size;

        &:hover {
            transition: 0.4s;
            background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.1));
        }

    }

    &__img {
        object-fit: cover;
        aspect-ratio: 1 / 1;
        z-index: 1;
        @include cards-size;
    }
    &__title {
        position: relative;
        text-align: left;
        bottom: 5rem;
        width: 18rem;
        left: 0.5rem;
        font-size: 18px;
        color: white;
        text-shadow: $text-shadow;
        font-weight: 700;
        z-index: 5;

        @media screen and (max-width: 767.98px) {
            width: 22rem;
            font-size: 22px;
        }
    }
    &__title a {
    text-decoration: none;
    color: unset;
    }
}
