@import "../../Styles.scss";

.collapse__item {
    width: 100%;
}
.collapse {
    background-color: $primary;
    height: 2.25rem;
    position: relative;
    border-radius: 5px;
    padding: 0 0.5rem;
    color: white;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    & img {
      transition: 0.4s;
      rotate: 180deg;
    }

    &__toggled {
      background-color: $bg-color;
      padding: 0.5rem;
      line-height: 1.4;
      text-align: left;
      margin:0;
      max-height: 0;
      display: none;
    }
}

.visible {
  height: auto;
  display: block;
  max-height: fit-content;
  border-radius: 5px;
}

.toggled {
  transform: rotate(180deg);
  transition: 0.4s;
}


  