@import "../../Styles.scss";

@mixin carrousel-size {
    height: 500px; 
    width: 100%;

    @media screen and (max-width: 1250px) {
      height: 300px;
    }
    @media screen and (max-width: 767.98px) {
      border-radius: $border-mobile;
    }
}

.carrousel {
    @include flex-row;
    @include carrousel-size;

  &, .carrousel-img {
    background-color: $grey;
    border-radius: $border-desktop;
    object-fit: cover;
    @include carrousel-size;
  }
}

.carrousel-img.active {
    display:block;
    animation: fade 0.8s;
}
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity : 1;
        }
    }
.carrousel-img:not(.active) {
    display: none;
}
.slides-number {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: white;
}

.carrousel-btn {
    @include flex-row;
    z-index: 500;
    justify-content: space-between;
    position: absolute;
    width: inherit;
    box-sizing: border-box;
    @include carrousel-size;
    width: calc(100% - (2 * $margin-desktop));
    
        @media screen and (max-width:767.98px) {
            width: calc(100% - (2 * $margin-mobile));
        }
}
.carrousel-previous, .carrousel-next {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    width: 20%;
    border-radius: $border-desktop;
    cursor: pointer;

    @media screen and (max-width:767.98px) {
        border-radius: $border-mobile;
    }
}
.carrousel-previous {
    justify-content: flex-start;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        background-image: linear-gradient(to right, rgba(196, 196, 196, 0.3) , transparent);
    }
}
.carrousel-next {
    justify-content: flex-end;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        background-image: linear-gradient(to left, rgba(196, 196, 196,0.3) , transparent);
    }
}
.one {
    display: none;
}