// For the FicheLogCarrousel function
@mixin carrousel-size {
    height: 500px; 
    width: 100%;
    // aspect-ratio: 5 / 2;

    @media screen and (max-width: 1200px) {
      height: 300px;
    }
    @media screen and (max-width: 767.98px) {
    //   aspect-ratio: 5 / 4;
      border-radius: var(--border-mobile);
    }
}

.carrousel {
    display:flex;
    flex-direction: row;
    @include carrousel-size;

  &, .carrousel-img {
    background-color: var(--grey);
    border-radius: var(--border-desktop);
    object-fit: cover;
    @include carrousel-size;
  }
}
.carrousel-img.active {
    display:block;
    animation: fade 0.8s;
}
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity : 1;
        }
    }
.carrousel-img:not(.active) {
    display: none;
}

.carrousel-btn {
    // border: 1px solid deeppink;
    z-index: 500;
    // overflow: hidden;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: inherit;
    box-sizing: border-box;
    @include carrousel-size;
    box-sizing: border-box;
    width: calc(100% - 4rem);
    
        @media screen and (max-width:767.98px) {
            width: calc(100% - 10%);
        }
}
.carrousel-previous, .carrousel-next {
display: flex;
align-items: center;
padding: 1rem;
background-color: transparent;
width: 20%;
}
.carrousel-previous {
    justify-content: flex-start;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) , transparent);
    }
}
.carrousel-next {
    justify-content: flex-end;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        background-image: linear-gradient(to left, rgba(255, 255, 255,0.3) , transparent);
    }
}