@import "../../Styles.scss";

// NavBar style
.nav-bar {
  font-family: $font;
  color: #111;
  @include flex-row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.8rem 0;

  & a {
    color: inherit;
  }
}
  
  .nav-btn > button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    text-transform: uppercase;
  }
  .nav-btn > button:hover {
    color: $primary;
  }
  .underlined {
    border-bottom: 1px solid black;
  }

.kasa-logo img {
  height: 4.25rem;
  
  @media screen and (max-width: 767.98px) {
    height: 2.25rem;
  }
}
  
