@import "../../Styles.scss";

.kasa-footer {
    background-color: black;
    font-family: $font;
    color: white;
    font-size: 0.8rem;
    height: 13rem;
    width: 100%;
    @include flex-column;
    justify-content: center;
    align-items: center;
    margin-top: 2.25rem;
    overflow: hidden;
  
    & > img {
      height: 2.5rem;
      object-fit: cover;
      margin: 2rem;
  }
}
  