@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #ff6060;
  --bg-color: #f6f6f6;
  --grey: #c4c4c4;
  --font: "Montserrat", sans-serif;
}
.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0 2rem;
}
a, a:hover, a:visited {
  text-decoration: none;
}
ul, li {
  margin-left: -16px;
}