@import "../../Styles.scss";

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    padding: 2.25rem;
  
   &__number {
    font-size: 18rem;
    font-weight: 700;
    color: $primary;
  }

  &__msg {
    font-size: 2.25rem;
    color: $primary;
  }
  &__link {
    font-size: 1.125rem;
    text-decoration: underline;
    font-weight: 500;
    
    &__link a {
      color: unset;

      &__link a:hover {
        color: $primary;
        transition: 0.4s;
      }
    }
  }
}
  