.error-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    padding: 2.25rem;
  }
  .error-number {
    font-size: 18rem;
    font-weight: 700;
    color: var(--primary);
  }
  .error-msg {
    font-size: 2.25rem;
    color: var(--primary);
  }
  .error-link {
    font-size: 1.125rem;
    text-decoration: underline;
    font-weight: 500;
  }
  .error-link a {
    color: unset;
  }
  .error-link a:hover {
    color: var(--primary);
    transition: 0.4s;
  }
  